@{
    ViewData["Title"] = "Exemplo de Configuração - Operação Cappta";
}

<div class="card">
    <div class="card-header">
        Exemplos de Configuração (Entrada) e Saída
    </div>
    <div class="card-body">
        <span class="font-weight-bold">Configuração (Entrada)</span><br /><br />

        <span>Malha Inferior Esquerda do Planalto: 0,0</span><br />
        <span>Malha Superior Direita do Planalto: 5,5</span><br /><br />


        <span class="font-weight-bold">Sonda Nº 1 </span><br />
        <span>Posicao Inicial: 1,2</span><br />
        <span>Direção Inicial: Norte</span><br />
        <span>Comandos: LMLMLMLMM</span><br /><br />


        <span class="font-weight-bold">Sonda Nº 2 </span><br />
        <span>Posicao Inicial: 3,3</span><br />
        <span>Direção Inicial: Leste</span><br />
        <span>Comandos: MMRMMRMRRM</span><br /><br />



        <span class="font-weight-bold">Saída esperada.</span><br /><br />

        <span class="font-weight-bold">Sonda Nº 1 </span><br />
        <span>Posicao Final: 1,3</span><br />
        <span>Direção Final: Norte</span><br /><br />

        <span class="font-weight-bold">Sonda Nº 2 </span><br />
        <span>Posicao Final: 5,1</span><br />
        <span>Direção Final: Leste</span><br />
    </div>
</div>

